header{
    background-color: blue;
    color: azure;
    text-align: center;
    font-size: xx-large;
}

h2 {
    font-size: xx-large;
}

.top-box {
    display: flex;
}

.forecastCardContainer{
    display: flex;
    justify-content: space-around;
}